@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


:root {
    
    --color-theme: #20d3c2;
    --color-theme-light: #edfcfa;
    --color-dark: #080c24;
    --color-theme-dark: #0E153D;
    --color-theme-light-dark: #50546E;
    --color-white: #FFFFFF;
    --color-gray-0: #aaaaaa;
    --color-gray-1: #cccccc;
    --color-gray-2: #e3e3e3;
    --color-gray-3: #eeeeee;
    --color-gray-4: #f6f6f6;
    --color-gray-5: #777777;
    --color-red-1: #FE4545;
    --color-green-1: #64CB83;
    --color-product-instock: #82D8c6;
    --color-product-outofstock: #FE6c6c;

    --font-play:'Play', sans-serif;
    --font-roboto:'Roboto', arial, sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2.0rem;
    --font-size-36: 3.00rem;
    --font-size-60: 5.00rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;

}

/* General changes */
html, body {
    line-height: 1.50;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}

.bg-theme {
    background-color: var(--color-theme);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.31rem;
    padding-right: 1.31rem;
    border: none;
    transition: color 250ms ease-in-out    
}
    .btn-theme:hover {
        color: var(--color-theme-dark);      
        background-color: var(--color-theme); 
    }

.text-theme {
    color: var(--color-theme);
}

.instock {
    color: var(--color-product-instock);
}

.outofstock {
    color: var(--color-product-outofstock);
}

.required {
   color: var(--color-theme); 
}

.section-title {
    color: var(--color-theme-dark);
    text-align: center;
    padding: 3rem 0;
}
    .section-title h1 {
        font-family: var(--font-play);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-36);
    }
        .section-title span {
            color: var(--color-theme);
        }
        .section-title p {
            margin: 1rem 0;
            font-size: var(--font-size-16);
        }



/* Top menu changes */
.menu-top {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 2.5rem;
}
    .menu-top .container {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;
    }
        .menu-top .container .site-settings {
            display: flex;
        }
            .menu-top .container .site-settings .dropdown-theme {
                background-color: var(--color-theme);
                color: var(--color-white);
            }
                .menu-top .site-settings .dropdown-theme .dropdown-menu {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: solid var(--color-theme);     
                }
                    .menu-top .site-settings .dropdown-theme .dropdown-menu .dropdown-item {
                        background-color: var(--color-theme);
                        color: var(--color-white);
                        width: 100%;
                        margin: 0;
                        transition: color 200ms ease-in-out;
                    }
                        .menu-top .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover {
                            color: var(--color-theme-dark);
                        }
                .menu-top .site-settings .dropdown-theme button{
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    padding: 0;
                    transition: color 200ms ease-in-out;
                }
                    .menu-top .site-settings .dropdown-theme button:hover{
                        color: var(--color-theme-dark);
                    } 
                    .site-settings #selected-currency .fa-solid {
                        margin-left: 0.375rem;
                    }
                    .site-settings #selected-language .fa-solid {
                        margin-left: 0.375rem;
                        margin-right: 0.375rem;
                    }  
        .menu-top .menu-links-right a {
            color: var(--color-white);
            text-decoration: none;
            margin: 0 1.2rem;
            transition: color 200ms ease-in-out;
        }

            .menu-top .menu-links-right a:hover {
                color: var(--color-theme-dark);
            }

            .menu-top .menu-links-right .site-links a {
                display: none;
            }

        .menu-top .menu-links-right .social-media {
            margin-left: 1rem;
        }

            .menu-top .menu-links-right .social-media a {
                margin: 0 0.25rem;
                font-size: var(--font-size-14);
                display: none;   
            }

                .menu-top .menu-links-right .social-media a:last-child {
                    margin: 0 0 0 0.25rem;
                    font-size: var(--font-size-14);
                }


/* Main menu top */

.main-menu-top {
    background-color: var(--color-white);
    color: var(--color-theme-dark);
}
.main-menu-top > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.625rem 0;
}

/* Kenkata logo */
    .main-menu-top .container .logo-type {
        flex: 2;
    }

/* Search bar */
    .main-menu-top .container .search{
        flex: 4;
    }
        .main-menu-top .search #searchbox-form {
            border-radius: var(--border-radius-medium);
            height: 45px;
            margin: auto;
            position: relative;
        }
            .main-menu-top .search #searchbox-form input {
                position: absolute;
                border-radius: var(--border-radius-medium);
                height: 100%;
                width: 100%;
                outline: none;
                border: 1px solid var(--color-gray-2);
                font-size: 0.9rem;
                padding-left: 1.3rem;
            }
                .main-menu-top .search #searchbox-form input:focus {
                    outline: 0;
                    box-shadow: 0 0 2px 0px var(--color-theme);
                }
            .main-menu-top .search #searchbox-form button {
                position: absolute;
                top: 0;
                right: -2px;
                width: 50px;
                height: 100%;
                background-color: var(--color-theme);
                border: none;
                color: var(--color-white);
                border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
                transition: color 250ms ease-in-out;
            }
                .main-menu-top .search #searchbox-form button:hover {
                    color: var(--color-theme-dark);
                }   

/* Right icons */
    .main-menu-top .container .icons {
        flex: 3;
        display: flex;
        justify-content: end;
        align-items: center;
    }
        .main-menu-top .container .icon-links {
            text-decoration: none; 
            color: var(--color-theme-dark);
            margin: 0 0.5em;
            transition: color 200ms ease-in-out;
        }
            .main-menu-top .container .icon-links i {
                font-size: var(--font-size-16);  
            }
            .main-menu-top .container .icon-links:hover {
                color: var(--color-theme);
            }
            .main-menu-top .container .icon-links:first-child {
                    margin: 0 3rem 0 0;
                    white-space: nowrap; 
            }
            .main-menu-top .container .icon-links:last-child {
                margin: 0 0 0 0.5rem;
                white-space: nowrap;
            }
            .main-menu-top .icons #cart {
                position: relative;
            }
                .main-menu-top .icons #cart .badge {
                    position: absolute;
                    top: -0.85rem;
                    left: 0.65rem;
                    font-size: 0.8rem;
                    font-weight: 100;
                    padding: .28rem .4rem;
                    transition: color 200ms ease-in-out, background 200ms ease-in-out; 
                }  
                .main-menu-top .icons #cart:hover .badge {
                    background-color: var(--color-theme-dark);
                    color: var(--color-theme); 
                }
            .main-menu-top .icons #shuffle-cart {
                position: relative;
            }
                .main-menu-top .icons #shuffle-cart .badge {
                    position: absolute;
                    top: -0.85rem;
                    left: 0.65rem;
                    font-size: 0.8rem;
                    font-weight: 100;
                    padding: .28rem .4rem;
                    transition: color 200ms ease-in-out, background 200ms ease-in-out;
                }
                .main-menu-top .icons #shuffle-cart:hover .badge {
                    background-color: var(--color-theme-dark);
                    color: var(--color-theme);
                }


                

                



/* Here starts the bottom of Main-menu-top */

    .main-menu-top nav {
        border-top: 1px solid var(--color-gray-2);
        border-bottom: 1px solid var(--color-gray-2);
        
    }
        .main-menu-top nav .container {
            display: flex;
            justify-content: space-between;
            padding: 0;
            align-items: center;
        }

/* Browser Categories */
            .main-menu-top nav .container .browse-categories {
                flex: 1;   
            }
                .main-menu-top nav .container .browse-categories button {
                    font-size: var(--font-size-14);
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.8rem 1rem;
                    color: var(--color-theme-light);
                    background-color: var(--color-theme);
                    border: none;      
                    transition: color 200ms ease-in-out;     
                }   
                    .main-menu-top nav .container .browse-categories button:hover { 
                        color: var(--color-theme-dark);
                    }
                    .main-menu-top nav .container .browse-categories button span { 
                        display: flex;
                        align-items: center;
                        white-space: nowrap;  
                    }
                    .main-menu-top nav .container .browse-categories button .fa-bars {
                        font-size: 1.4em;  
                    }
                    .main-menu-top nav .container .browse-categories button .fa-chevron-down {
                        font-size: 0.8em;
                    }
                .main-menu-top nav .browse-categories .dropdown-menu {
                    width: 100%;
                    background-color: var(--color-theme);
                    }
                    .main-menu-top nav .browse-categories .dropdown-menu .dropdown-item {
                        color: var(--color-theme-light);
                        font-size: var(--font-size-14);
                        transition: color 200ms ease-in-out;
                    }
                        .main-menu-top nav .browse-categories .dropdown-menu .dropdown-item:hover {
                            color: var(--color-theme-dark);
                            background-color: var(--color-theme);
                        }

/* Special Offer */
        .main-menu-top nav .special-offer {
            flex: 5;
            display: flex;
            justify-content: end;
            align-items: center;
        }
            .main-menu-top .special-offer .btn-theme {
                color: var(--color-theme-light);
                background-color: var(--color-theme);
                border-radius: var(--border-radius-medium);
                font-weight: var(--font-weight-medium);
                padding-left: 1.3125rem;
                padding-right: 1.3125rem;
                border: none;
                margin-top: 0.375rem;
                margin-bottom: 0.375rem;
                font-size: var(--font-size-14);
            }
                .main-menu-top .special-offer .btn-theme:hover { 
                    color: var(--color-theme-dark);
                    background-color: var(--color-theme);
                }
          

/* Showcase */
.showcase {
    background-color: var(--color-gray-3);
}
    .showcase .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
/* Showcase-left (Text +btn) */
        .showcase .container .showcase-left {
        flex: 1;  
        }
            .showcase .container .showcase-left h1 {
                font-family: var(--font-play);
                font-size: var(--font-size-60);
                text-align: left;
            }
                .showcase .container .showcase-left h1 strong {
                    font-weight: var(--font-weight-bold);
                    color: var(--color-theme);
                }

            .showcase .container .showcase-left p {
                font-size: var(--font-size-16);
                font-family: var(--font-roboto);
            }
            .showcase .container .showcase-left .btn {
                margin-top: 2.5rem;
                background-color: var(--color-white);
                color: var(--color-theme);
                font-size: var(--font-size-18);
                font-weight: var(--font-weight-medium);
                padding-left:1.875rem;
                padding-right: 1.875rem;
                padding-bottom: 1rem;
                padding-top: 1rem;
                border-radius: 50px;
                border: none;
            }
                .showcase .container .showcase-left .btn:hover { 
                    color: var(--color-theme-dark);
                    background-color: var(--color-theme);
                }
/* Showcase-right (image) */
        .showcase .container .showcase-right {
            flex: 1;
        }
            .showcase .container .showcase-right img {
                flex: 1;
            }


/* Webshop */
.webshop-info {
    padding: 4rem 0 7rem 0;
}
    .webshop-info .container {
        max-width: 1800px;
        display: flex;
        justify-content: space-evenly;
    }
        .webshop-info .container .info-box {
            background-color: var(--color-theme-light);
            padding: 1rem;
            margin: 0 1rem;
            flex: 1;
            display: flex;
            align-items: center;
            border-radius: var(--border-radius-small);  
            transition: color 200ms ease-in-out, background 300ms ease-in-out;
        }
            .webshop-info .container .info-box:hover {
                background-color: var(--color-theme);
                color: var(--color-white);
            }
            .webshop-info .container .info-box img {
                margin-right: 1.5rem;
                filter: brightness(100%);
                transition: filter 300ms ease-in-out;
            }
                .webshop-info .container .info-box:hover img {
                    filter: brightness(1000%); 
                }
            .webshop-info .container .info-box h1 {
                color: var(--color-theme);
                font-size: 1rem;
                font-weight: var(--font-weight-medium);
                transition: 300ms ease-in-out;
            }
                .webshop-info .container .info-box:hover h1 {
                    color: var(--color-white);
                }
            .webshop-info .container .info-box p {
                font-weight: var(--font-weight-medium);
            }


/* Shop by category */
.shop-by-category .container {
    padding: 0;
}

/* Grid & its design */
.shop-by-category .grid{
    display: grid;
    gap: 0.625rem;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 255px));
}
    .shop-by-category .grid .category-box {
        position: relative;
        background-color: var(--color-gray-1);
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius-small);
        overflow: hidden;
    }
        .shop-by-category .grid .category-box .category-box-title {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            border-radius: 0 var(--border-radius-small) 0 0;
            background-color: var(--color-theme-dark);
            color: var(--color-theme);
            padding: 0.5rem 1rem;
            font-weight: var(--font-weight-medium);
            font-size: var(--font-size-16);
            height: 50px;
            transition: height 300ms ease-in-out, width 300ms ease-in-out;
        }
            .shop-by-category .grid .category-box:hover .category-box-title {
                width: 60%;
                height: 85px;
            }
            .shop-by-category .grid .category-box .category-box-title span {
                display: block;
                color: var(--color-theme-light);
                font-size: var(--font-size-14);
                font-weight: var(--font-weight-regular);
                opacity: 0%;
                transition: opacity 300ms;
            }
            .shop-by-category .grid .category-box:hover .category-box-title span {
                display: block;
                color: var(--color-theme-light);
                font-size: var(--font-size-14);
                font-weight: var(--font-weight-regular);
                opacity: 100%;
            }

    #category-box-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #category-box-2 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #category-box-3 {
        grid-column: 4 / -1;
        grid-row: 1 / 3;
    }
    #category-box-4 {
        grid-column: 1 / 3;
        grid-row: 2 / -1;
    }
    #category-box-5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    #category-box-6 {
        grid-column: 3 / 5;
        grid-row: 3 / -1;
    }
    #category-box-7 {
        grid-column: 5 / -1;
        grid-row: 3 / -1;
    } 



/* New Arrivals */

.new-arrivals {
    padding-top: 7rem;
} 
    .new-arrivals .card {
        position: relative;
        height: 400px;
        overflow: hidden;
    }
        .new-arrivals .card .card-bottom-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .new-arrivals .card img {
            height: 400px;
        }
        .new-arrivals .card .card-body {
            position: absolute;
            bottom: 0;
            height: 14%;
            width: 100%;
            color: var(--color-white);
            z-index: 1;
            transition: 300ms ease-in-out;  
            font-size: 1rem; 
        }
            .new-arrivals .card:hover .card-body {
                height: 40%;
            }
        .new-arrivals .card .card-body h1 {
            font-size: 1.125rem;
            font-weight: var(--font-weight-regular);
        }
        .new-arrivals .card .card-body button {
            background-color: transparent;
            color: var(--color-white);
            border: 1px solid var(--color-white);
            font-size: 0.875rem;
            margin: 0.5rem 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            opacity: 0%;
            transition: opacity 300ms ease-in-out, margin 300ms ease-in-out;
        }
            .new-arrivals .card:hover .card-body button {
                opacity: 100%;
                margin-top: 0;
            }
        .new-arrivals .card .card-body .card-old-price {
            text-decoration: line-through;
            margin-bottom: 0;
            opacity: 0%;
            transition: opacity 300ms ease-in-out;
        }
            .new-arrivals .card:hover .card-body .card-old-price {
                opacity: 100%;
            }
        .new-arrivals .card .card-body .card-discount-price {
            color: var(--color-theme);
            font-weight: var(--font-weight-medium);
            font-size: 1.5em;
            margin: 0;
            opacity: 0%;
            transition: opacity 300ms ease-in-out;
        }
            .new-arrivals .card:hover .card-body .card-discount-price {
                opacity: 100%;
            }
    .new-arrivals .card .card-background {
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        background-color: var(--color-theme-dark);
        opacity: 90%;
        transition: height 300ms ease-in-out;
    }
        .new-arrivals .card:hover .card-background {
            height: 100%;
        }
    .new-arrivals .card .card-menu {
        position: absolute;
        z-index: 1;
        top: 105%;
        right: 1rem;
        list-style: none;
        margin: auto;
        padding: 0.8rem;
        font-size: 1.125rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 300ms ease-in-out;
    }
        .new-arrivals .card:hover .card-menu {
            top: 20px;
        }
            .new-arrivals .card .card-menu li{
                margin-top: .2rem;
                margin-bottom: .2rem;
                font-size: 1em;
            }
                .new-arrivals .card .card-menu li:last-child {
                    font-size: 1.1em;
                }

                .new-arrivals .card .card-menu li a{
                    color: var(--color-gray-0);
                }
                    .new-arrivals .card .card-menu li a:hover {
                        color: var(--color-theme);
                    }






/* Second webpage - Top part */
.site-title {
    background-color: var(--color-theme-light-dark);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
    .site-title .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
        .site-title h1 {
            color: var(--color-theme);
            font-size: 1.5rem;
            font-weight: var(--font-weight-medium);
            font-family: var(--font-roboto);
            margin: 0;
        }   
        .site-title ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            list-style: none;
        }   
        .site-title .breadcrumb {
            list-style: none;
            margin: 0;
        }
            .site-title .breadcrumb li {
                display: inline;
                font-size: 18px;
                color: var(--color-white);
            }
                .site-title .breadcrumb li+li:before {
                    padding: 0 .7rem 0 1rem;
                    color: var(--color-white);
                    content: "/\00a0";
                }
                .site-title .breadcrumb li a {
                    color: var(--color-theme);
                    text-decoration: none;
                    transition: color 250ms ease-in-out;
                }
                    .site-title .breadcrumb li a:hover {
                        color: var(--color-white);
                    }




/* Second page - Signup Cards */
.signup-signin {
    padding: 6rem 0;
}
    .signup-signin .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem; 
        padding-left: 0;
        padding-right: 0;
        align-items: start;
    }
        .signup-signin .card {
            border: none;
            padding: 1.5rem;
            border-radius: var(--border-radius-small);
            background-color: var(--color-gray-4);
        }
            .signup-signin .card .card-body .card-title {
                font-size: 1.4rem;
                font-weight: var(--font-weight-medium);
                font-family: var(--font-roboto);
                color: var(--color-theme-dark);
            }
            .signup-signin .card .card-body .card-text {
                line-height: 2;
                margin: 1.5rem 0;
            }
                .signup-signin .card .card-body .card-text.text-small {
                    color: var(--color-gray-5);
                    font-size: .875rem;
                }
                .signup-signin .card .card-body .card-text a {
                    text-decoration: none;
                    color: var(--color-theme);
                    font-weight: var(--font-weight-medium);
                }
                    .signup-signin .card .card-body .card-text a:hover {
                        text-decoration: underline;
                        color: var(--color-theme-dark);
                    }
                    .signup-signin .card .card-body .d-flex a {
                        color: var(--color-theme);
                        text-decoration: none;
                    }
                        .signup-signin .card .card-body .d-flex a:hover {
                            color: var(--color-theme-dark);
                            text-decoration: underline;
                        }

/* Divider, left card before external buttons */
            .signup-signin .card .external-logins {
                margin-top: 2rem;
            }
                .signup-signin .card .external-logins .mb-4 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .signup-signin .card .external-logins .mb-4 .line-a {
                        border: 1px solid var(--color-gray-0);
                        flex: 1;
                        opacity: 0.5;
                    }
                    .signup-signin .card .external-logins .mb-4 .label {
                        text-align: center;
                        flex: 1;
                        font-weight: var(--font-weight-medium);
                        padding-right: 10px;
                        padding-left: 10px;
                    }

/* External buttons */
            .signup-signin .card .card-body .external-social-media-button {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                .signup-signin .card .card-body .external-social-media-button .facebook-button {
                    background-image: url(/images/external-media/facebook-login.svg);
                    background-repeat: no-repeat;
                    border: none;
                    height: 42px;
                    width: 235px;
                    border-radius: 8px;
                }
                .signup-signin .card .card-body .external-social-media-button .google-button {
                    background-image: url(/images/external-media/google-login.svg);
                    background-repeat: no-repeat;
                    border: none;
                    height: 42px;
                    width: 235px;
                    border-radius: 8px;
                }
                    .signup-signin .card .card-body .external-social-media-button .google-button:hover, .signup-signin .card .card-body .external-social-media-button .facebook-button:hover {
                        filter: brightness(90%);
                    }



/* Visuals on signupforms, second page */

#signupform input[type=text], #signupform input[type=email], #signupform input[type=password]  {
    display: block;
    width: 100%;
    border-radius: var(--border-radius-small);
    padding: .5rem .9rem;
    margin: .3rem 0;
    border: none;
}
    #signupform input:focus {
        outline: 0;
        box-shadow: 0 0 3px 1px var(--color-theme);
    }

#signinform input[type=email], input[type=password]  {
    display: block;
    width: 100%;
    border-radius: var(--border-radius-small);
    padding: .5rem .9rem;
    margin: .3rem 0;
    border: none;
}
    #signinform input:focus {
        outline: 0;
        box-shadow: 0 0 3px 1px var(--color-theme);
    }

.signup-signin form input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin-right: .5rem;
    align-items: center;
}           





    


/* Divider homepage */
.partition {
    background-color: var(--color-gray-1);
    margin-top: 10rem;
}
    .partition .container {
        display: flex;
        padding: 0;
        color: var(--color-white);
        height: 400px;
    }
        .partition .container .partition-left {
            flex: 1;
            background-color: var(--color-theme);
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 250px;
            justify-content: center;
            text-align: center;
        }
            .partition .container .partition-left h1 {
                font-family: var(--font-play);
                font-size: 60px;
                font-weight: var(--font-weight-bold);
            }
            .partition .container .partition-left h1 strong {
                font-family: var(--font-play);
                font-size: 36px;
                font-weight: var(--font-weight-bold);
            }
            .partition .container .partition-left p {
                font-size: 16px;
                font-weight: var(--font-weight-regular);
            }
            .partition .container .partition-left .btn {
                margin-top: .5rem;
                color: var(--color-white);
                background-color: var(--color-theme-dark);
                border-radius: var(--border-radius-medium);
                font-weight: var(--font-weight-medium);
                padding-top: 0.6rem;
                padding-left: 1.3125rem;
                padding-right: 1.3125rem;
                border: none;
                font-size: var(--font-size-14);
                transition: color 250ms ease-in-out, background 250ms ease-in-out;
            } 
                .partition .container .partition-left .btn:hover {
                    color: var(--color-theme);
                    background-color: var(--color-white);
                }      
        .partition .container .partition-middle {
            flex: 1;
        }
        .partition .container .partition-right {
            flex: 1;
            font-size: 16px;
            font-weight: var(--font-weight-regular);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
            .partition .container .partition-right .btn {
                color: var(--color-theme);
                background-color: var(--color-white);
                border-radius: var(--border-radius-medium);
                font-weight: var(--font-weight-medium);
                margin-top: .5rem;
                padding-top: 0.6rem;
                padding-left: 1.3125rem;
                padding-right: 1.3125rem;
                border: none;
                font-size: var(--font-size-14);
                transition: color 250ms ease-in-out, background 250ms ease-in-out;
            } 
                .partition .container .partition-right .btn:hover {
                    color: var(--color-white);
                    background-color: var(--color-theme-dark);
                }   



/* Divider 2 homepage "Flash sale" */
.partition-2 {
    background-color: var(--color-theme-dark);
    margin-top: 10rem;
}
    .partition-2 .container {
        display: flex;
        padding: 0;
        color: var(--color-white);
        height: 420px;
    }
        .partition-2 .container .partition-left-2 {
            flex: 3;
            background-color: var(--color-theme);
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 250px;
            text-align: center;
            justify-content: center;
            height: 60%;
        }
            .partition-2 .container .partition-left-2 h1 {
                font-family: var(--font-play);
                font-size: 60px;
                font-weight: var(--font-weight-bold);
            }
            .partition-2 .container .partition-left-2 P {
                font-family: var(--font-roboto);
                font-size: 1.25rem;
                font-weight: var(--font-weight-medium);
            } 
        .partition-2 .container .partition-middle-2 {
            flex: 2;
        }

        .partition-2 .container .partition-right-2 {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .partition-2 .container .partition-right-2 .partition-right-menu-2 {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 5rem;
        }
        .partition-2 .container .partition-right-2 .balls {
            width: 100%;
            flex: 1;
            display: flex;
            align-items: space-between;
            justify-content: space-between;
        }
        .partition-2 .container .partition-right-2 .balls .time-ball {
            background-color: var(--color-white);
            border-radius: 50%;
            height: 110px;
            width: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            outline: 3px dashed var(--color-theme);
            margin: 0 0.5rem;
        }
            .partition-2 .container .partition-right-2 .balls .time-ball strong {
                color: var(--color-theme);
                font-family: var(--font-play);
                font-weight: var(--font-weight-bold);
                font-size: 36px;
                padding: 0;
                margin-top: 1.2rem;
                line-height: 2rem;
            }
            .partition-2 .container .partition-right-2 .balls .time-ball p {
                color: var(--color-theme-dark);
                font-weight: var(--font-weight-regular);
                font-size: 16px;
            }
            .partition-2 .container .partition-right-2 .btn {
                color: var(--color-theme);
                background-color: var(--color-white);
                border-radius: var(--border-radius-medium);
                font-weight: var(--font-weight-medium);
                margin-top: 2rem;
                padding-top: 0.6rem;
                padding-left: 1.3125rem;
                padding-right: 1.3125rem;
                border: none;
                font-size: 18px;
                transition: color 250ms ease-in-out, background 250ms ease-in-out;
            } 
                .partition-2 .container .partition-right-2 .btn:hover {
                    color: var(--color-white);
                    background-color: var(--color-theme);
                }



                    







/* Maximum width */

@media (max-width: 578px) {

    .main-menu-top .container .logo-type {
        padding-left: 1rem;
    }

    .main-menu-top .container .icons .icon-links:last-child {
        padding-right: 1rem;
    }

        .main-menu-top .container .icons #cart-total-amount {
            display: none;
        }

    .main-menu-top .container .icons .icon-links:first-child{
        margin-right: 0;
    }

        .main-menu-top .container .icons .icon-links:first-child span {
            display: none;
        }

}


@media (max-width: 992px) {

    .showcase .container .showcase-right {
        display: none;
    }

        .showcase .container .showcase-right img {
            display: none;
        }  

    .showcase .container .showcase-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
    }
 
        .showcase .container .showcase-left h1 {
            text-align: center;
        }

            .showcase .container .showcase-left h1 strong {
                display: block;        
            }
        
        .showcase .container .showcase-left p {
            text-align: center;
        }

        .showcase .container .showcase-left a {
            margin-bottom: 2rem;     
        }

}


@media (max-width: 1200px) {

    .showcase .container .showcase-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

        .showcase .container .showcase-left h1 {
            text-align: center;
        }

        .showcase .container .showcase-left p {
            text-align: center;
        }  

}


/* Minimum width */

@media (min-width: 1200px) {
    
    .showcase .container img {
        padding-right: 0;
        width: 100%;
    }
    
}

@media (min-width: 992px) {
        
    .menu-top .container {
        justify-content: space-between;
    }

        .menu-top .menu-links-right .social-media a {
            display: inline; 
        }

    .showcase .container .showcase-left h1 strong {
        display: block;
    }

}

@media (min-width: 578px) {

    .menu-top .container {
        justify-content: space-between;
    }

        .menu-top .menu-links-right .site-links a {
            display: inline;
        }
    
}


/* Between sizes */

@media screen and (min-width:992px) and (max-width:1200px) {

    .showcase .container .showcase-left h1 {
        font-size: var(--font-size-36);
    }

}